.wrapper {
  padding: 3rem 1rem;
  color: var(--color-text-primary);
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

/* --------------------------------------------------
   Heading
-------------------------------------------------- */

.heading {
  /* text-align: center; */
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.4rem;
}

/* --------------------------------------------------
   Question
-------------------------------------------------- */

.question {
  border-bottom: 1px solid var(--color-border);
  margin: 0 0 6px 0;
}

/* --------------------------------------------------
   Question Button
-------------------------------------------------- */

.button {
  width: 100%;
  padding: 1.5rem 0;

  background: var(--bg-surface-elevated);
  border: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--color-text-primary);
  text-align: left;

  padding: 10px;
  border-radius: 4px;
}

/* --------------------------------------------------
   Question Title
-------------------------------------------------- */

.title {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  color: var(--color-text-primary);
}

/* --------------------------------------------------
   Chevron Icon
-------------------------------------------------- */

.icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 1rem;
}

/* --------------------------------------------------
   Answer
-------------------------------------------------- */

.answerWrapper {
  overflow: hidden;
}

.answer {
  padding-bottom: 1.5rem;

  color: var(--muted-slate);
  padding: 20px;
  line-height: 1.6;
}